// Colors//

$MainBackgroundColor:#424242;
$DarkBackgroundColor:#212121;
$LightBackgroundColor:#616161;
$MainColor:#7c7c7c;
$headerHeight:6.25rem;
h1, h2, h3,h4,h5{
    color: #1ca8dd !important;
}
//Grid//
.layout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $MainColor;
    background-color: $DarkBackgroundColor;
    padding: 0.75rem;
    overflow: auto;
    .row{
        display: flex;
        flex-direction: row;
    }
    .toggl{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1.5rem 1.5rem 1.5rem 1.5rem;
        border-color: $LightBackgroundColor transparent transparent $LightBackgroundColor;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        border-radius: 0.3rem;
        position: absolute;
        top: 0.4rem;
        left: 0.4rem;
    }
    .revers-toggl{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1.5rem 1.5rem 1.5rem 1.5rem;
        border-color: transparent $LightBackgroundColor $LightBackgroundColor transparent;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        border-radius: 0.3rem;
        position: absolute;
        top: 0.4rem;
        left: 0.4rem;
    }
 
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }


// @media only screen and (max-width: 1920px) {
//     ::ng-deep html, body{
//      font-size: 0.75rem !important;
//     }

//   }
  
// @media only screen and (min-width: 1920px) and (-webkit-device-pixel-ratio: 1.5){
//     ::ng-deep html, body{
//       font-size: 0.75rem !important;//0.7145
//     }
//     ::ng-deep .mat-typography{
//         font-size: 0.75rem !important;//0.7145
//     }
//   }